<h1>Añadir usuario</h1>

<form (ngSubmit)="createUser()">
    <ul>
        <li>
            <label for="name">Nombre:</label>
            <input type="text" id="name" [(ngModel)]="newUser.first_name" name="name" required>
            <div *ngIf="formErrors['first_name']" class="error-message">
                <div *ngFor="let msg of formErrors['first_name']">{{ msg }}</div>
            </div>
        </li>
        <li>
            <label for="apellidos">Apellidos:</label>
            <input type="text" id="apellidos" [(ngModel)]="newUser.last_name" name="apellidos" required>
            <div *ngIf="formErrors['last_name']" class="error-message">
                <div *ngFor="let msg of formErrors['last_name']">{{ msg }}</div>
            </div>
        </li>
        <li>
            <label for="">Correo:</label>
            <input type="text" id="email" [(ngModel)]="newUser.email" name="email" required>
            <div *ngIf="formErrors['email']" class="error-message">
                <div *ngFor="let msg of formErrors['email']">{{ msg }}</div>
            </div>
        </li>
        <li>
            <label for="passwd">Contraseña:</label>
            <input type="password" id="passwd" [(ngModel)]="newUser.password" name="password" required>
            <div *ngIf="formErrors['password']" class="error-message">
                <div *ngFor="let msg of formErrors['password']">{{ msg }}</div>
            </div>
        </li>
        <ul>
            <h3>Matrículas</h3>
            <li>
                <label [for]="'matricula1'">Matrícula 1:</label>
                <input type="text" id="matricula1"  [(ngModel)]="newUser.plates[0]" placeholder="0000BBB" name="matricula1" required>
                <div *ngIf="formErrors['plates'] && formErrors['plates'][0]" class="error-message">
                    <div *ngFor="let msg of formErrors['plates'][0]">{{ msg }}</div>
                </div>
            </li>
            <li >
                <label [for]="'matricula2'">Matrícula 2:</label>
                <input type="text" id="matricula2"  [(ngModel)]="newUser.plates[1]" placeholder="0000BBB" name="matricula1" required>
                <div *ngIf="formErrors['plates'] && formErrors['plates'][1]" class="error-message">
                    <div *ngFor="let msg of formErrors['plates'][1]">{{ msg }}</div>
                </div>
            </li>
        </ul>   
    </ul>
    <button type="submit">Añadir</button>
</form>
