<h1> Detalles del user</h1>

<div class="content-container">
    <div *ngIf="user" class="content">
        
        <div class="info-container">
            <h2>{{user.first_name}} Details</h2>

            <div class="info">
                <h3>Info</h3>
                <div class="nombre-container">
                    <label for="user-nombre"> Nombre: </label>
                    <input id="user-nombre" [(ngModel)]="user.first_name" placeholder="nombre" />
                    <div *ngIf="formErrors['first_name']" class="error-message">
                      <div *ngFor="let msg of formErrors['first_name']">{{ msg }}</div>
                    </div>
                  </div>
                  <div class="apellidos-container">
                    <label for="user-apellidos"> Apellidos: </label>
                    <input id="user-apellidos" [(ngModel)]="user.last_name" placeholder="apellidos" />
                    <div *ngIf="formErrors['last_name']" class="error-message">
                      <div *ngFor="let msg of formErrors['last_name']">{{ msg }}</div>
                    </div>
                  </div>
            </div>
        
            <div class="info">
                <h3>Matriculas</h3>
                <ul>
                    <li *ngFor="let plate of user.plates; let i = index">
                      <input type="text" [(ngModel)]="user.plates[i]" placeholder="0000BBB" />
                      <div *ngIf="formErrors['plates'] && formErrors['plates'][i]" class="error-message">
                        <div *ngFor="let msg of formErrors['plates'][i]">
                          {{ msg }}
                        </div>
                      </div>
                    </li>
                  </ul>
            </div>
            <div class="buttons-container">
                <button type="button" (click)="save()">save</button>
            </div>
        </div>
    </div>
    <table>
        <tr>
            <th>Matricula</th>
            <th>Fecha</th>
        </tr>
        <tr *ngFor="let entry of userHistory">
            <td>
                {{entry.plate}}
            </td>
            <td>
                {{entry.date}}
            </td>
        </tr>
    </table>
    <!-- Mensaje de éxito -->
    <div *ngIf="successMessage" class="success-message">
        {{ successMessage }}
    </div>
  
</div>